<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FalconBMS_Alternative_Launcher_Cs.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup useLegacyV2RuntimeActivationPolicy="true"> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <FalconBMS_Alternative_Launcher_Cs.Properties.Settings>
            <setting name="Platform" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CMD_ACMI" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CMD_WINDOW" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CMD_NOMOVIE" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CMD_EF" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CMD_BW" serializeAs="String">
                <value>1024</value>
            </setting>
            <setting name="NoOverride" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Misc_RLNWS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Misc_TrackIRZ" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Misc_ExMouseLook" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Misc_OverrideSelfCancel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Misc_MouseCursorAnchor" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Third_WDP" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="Third_MC" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="Third_WC" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="Third_GRIB2FMAP" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="Third_F4WX" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="Third_F4AWACS" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="CMD_MONO" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Third_TIR" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="Third_VA" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="Misc_SmartScalingOverride" serializeAs="String">
                <value>True</value>
            </setting>
        </FalconBMS_Alternative_Launcher_Cs.Properties.Settings>
    </userSettings>
</configuration>